body{
    font-family: Arial, sans-serif;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: lightgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section{
}